#board {
    margin: 10px 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    text-align: center;
}

.square {
    height: 100px;
    background: #000;
    float: left;
    border: 1px solid #303030;
    line-height: 100px;
    font-size: 45px;
}

.square:hover {
    background: #0a0a0a;
    cursor: pointer;
}

.square:nth-child(2),
.square:nth-child(5),
.square:nth-child(8) {
    border-left: none;
    border-right: none;
}

.square:nth-child(n+4)
{
    border-top: none;
}

#logs {
    margin-top: 10px;
    background: black;
    height: 300px;
    border: 1px solid #111;
    overflow-y: scroll;
}

#logs ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#logs ul > li {
    padding: 10px;
    color: green;
    border-bottom: 1px solid #090909    ;
}